<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title> DCS </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/filelog.css">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&amp;display=swap">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bx-game icon' ></i>
      <div class="logo_name">CB PacDash</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="/">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a href="/devices">
          <i class='bx bx-devices'></i>
          <span class="links_name">Devices</span>
        </a>
        <span class="tooltip">Devices</span>
      </li>
      <li>
        <a href="/fileManager">
          <i class='bx bx-folder'></i>
          <span class="links_name">File Manager</span>
        </a>
        <span class="tooltip">Files</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cog'></i>
          <span class="links_name">Settings</span>
        </a>
        <span class="tooltip">Settings</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-info-circle'></i>
          <span class="links_name">About</span>
        </a>
        <span class="tooltip">About</span>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <div class="fileheaderName">
      <h1>File Manager</h1>
    </div>
<div class="fileheader">   
  <div class="fileItem">
    <h3>Select Oven: </h3> 
    <div class="dropdown" id="drop6">
    <div class="select">
      <span class="selected">Select an oven</span>
      <div class="caret"></div>
    </div>
    <ul class="menu"></ul>
  </div>
  </div>
<div class="fileItem">    <h3>Select Date Range: </h3> 
  <input type="text" id="daterange" name="daterange" /></div></div>


    <div id="runsContainer"></div>


<script>

</script>
    
  </section>
        <!-- Include your script file -->
        <script src="/js/filemanager.js"></script>
  <script src="/js/front.js"></script>
</body>