<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title> DCS </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    function fetchData() {
      fetch('/data')
        .then(response => response.text())
        .then(data => {
          document.getElementById('data').innerText = data;
        });
    }

    setInterval(fetchData, 1000); // Fetch data every second
  </script>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&amp;display=swap">
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bx-game icon' ></i>
      <div class="logo_name">CB PacDash</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="#">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-devices'></i>
          <span class="links_name">Devices</span>
        </a>
        <span class="tooltip">Devices</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-folder'></i>
          <span class="links_name">File Manager</span>
        </a>
        <span class="tooltip">Files</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cog'></i>
          <span class="links_name">Settings</span>
        </a>
        <span class="tooltip">Settings</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-info-circle'></i>
          <span class="links_name">About</span>
        </a>
        <span class="tooltip">About</span>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <div class="text">
      <h1>Latest Data</h1>
      <p id="data">No data yet</p>
    </div>
  </section>
  <script src="/js/front.js"></script>
</body>