.dev-wrapper{
    display:flex;
    height: 100%;
}
.selection-frame{
    background-color: #fcfdff;
    height: 100vh;
    flex:0.75;
    display: flex;
    flex-direction: column;
    border-right: #dfe2e9 1px solid;

}
.view-frame{
    background-color: #eef2f8;
    height: 100vh;
    flex:3;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}   

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(182, 182, 182, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
    cursor: pointer;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
    cursor: pointer;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(182, 182, 182, 0.3);
	background-color: #9c9c9c;
    cursor: pointer;
}

.dev-dropdown-wrapper{
    flex: 1;
    border-bottom: #dfe2e9 solid 2px;
}
.dev-search-wrapper{
    flex: 1;
    border-bottom: #dfe2e9 solid 2px;
    padding: 0em 1.2em;
}

.dev-list-wrapper{
    flex: 13;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}   
.dev-list-wrapper::-webkit-scrollbar{
    display: none;
}


.dropdown {
    background-color: #fbfdff;
    min-width: 10em;
    position: relative;
    top: 0;
    margin: 1.2em;
    border-radius: 0.5em;
}
.select {
    background: #fbfdff;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #cfd2da solid;
    border-radius: 0.5em;
    padding: 0.8em;
    cursor: pointer;
    transition: 0.3s;
    font-size: 0.7vw;
}

.select:hover {
    box-shadow: 0 0 0.8em #26489a;
}
.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #292929;
    transition: 0.3s;
}
.caret-rotate {
    transform: rotate(180deg);
}
.menu {
    list-style: none;
    padding: 0.15em 0.5em;
    background: #11101d;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #b1b7c7;
    position: absolute;
    top: 110%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
    max-height: 10em;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}   
.menu::-webkit-scrollbar{
    display: none;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 0.6vw;
}
.menu li:hover {
    background: #303344;
}
.active-menu {
    background: #23242a;
}
.menu-open {
    display: block;
    opacity: 1;
}

.hidden{
    display: none;
}


.dev-search-wrapper input{
    padding: 0.8em;
    margin: 1.2em 0em;
    border: 2px #cfd2da solid;
    border-radius: 0.5em;
    width: 100%;
}

.dev-search-wrapper input:focus{
    box-shadow: 0 0 0.8em #26489a;
    outline: none;
}
.dev-search-wrapper input{
    font-size: 0.70vw;
}

.list-wrapper{
    background-color: inherit;
    display: flex;
    flex-direction: column;
    padding: 0.8em 1.3em;
    border-bottom: #dfe2e9 solid 2px;
    cursor: pointer;
}

.list-name{
    font-weight: 600;
    font-size: 1.35vw;
    padding-bottom: 0.2em;
}
.list-activity{
    font-size: 0.65vw;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding-bottom: 0.8em;
}
.list-activity p{
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.dot {
    height: 0.55vw;
    width: 0.55vw;
    background-color: maroon;
    border-radius: 50%;
    display: block;
  }
.list-tags{
    font-weight: 500;
    font-size: 0.55vw;
    padding-bottom: 1.3em;
}
.tag{
    border: #8b8ea0 1px solid;
    border-radius: 10em;
    width:fit-content;
    padding: 0.2em 0.8em;
    background-color: #edf6ff;
}
.list-usage{
    font-size: 0.55vw;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.list-usage .percent-display{
    display: flex;
    align-items: baseline;
}

.list-usage .percent-display h2{
    font-weight: 400;
    font-size: 1.35vw;
}

.list-usage .percent-display p{
    padding-left: 1.5em;
    font-size: 0.65vw;
}

.up-base{
    color: green;
}

.selected-list{
    background-color: #1e46a316;
    border-right: #11101d 2px solid;
}


.view-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top:0;
    border-bottom: #cfd2da 2px solid;
}

.view-header-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 1.5em;
}

.view-header-name-cont{
    display: flex;
    align-items: center;
}

.view-header-name h2{
    font-weight: 600;
    font-size: 2vw;
    padding-right: 1.25em;
}

.view-header-name p{
    font-size: 0.75vw;
    padding-left: 0.5em;
    font-weight: 500;
}

.arrow-nav{
    font-size: 2.25vw;
    display: flex;
    align-items: center;
}

.arrow-nav i{
    font-weight: 300;
    padding: 0 0.4em;
}

.arrow-nav p{
    font-size: 0.625vw;
}

.view-options{
    display: flex;
}

.view-option{
    margin: 0 0.8em;
    padding: 0.6em 1em;
    font-weight: 500;
    font-size: 0.8vw;
    cursor: pointer;
}

.view-option:first-child{
    margin-left: 2em;
}

.view-active{
    border-bottom: #11101d 2px solid;
}

.view-main{
    display: flex;
    flex-direction: column;
    height: fit-content;

}

.main-filter{
    padding: 0.5em 1em;
    max-width: 8vw;
}
.main-sec1{
    background-color: white;
    border-radius: 0.5em;
    min-height: 65vh;
    max-height: 75vh;
    margin: 0 1.5em 1em 2em;
    border: #cfd2da 2px solid;
    display: flex;
    flex-direction: column;
}


.main-sec1-header{
    display: flex;
    border-bottom: #cfd2da 2px solid;
    align-items: center;
    padding: 1vw;
    padding-bottom: 0;
}
.main-sec1-cards{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0 5vw 0.5vw 1vw;
    cursor: pointer;
    margin-left: 0.5vw;
}

.main-sec1-cards:first-child{
    margin-left: 1vw;
}

.main-sec1-cards p{
    font-size: 0.7vw;
    font-weight: 500;
}

.main-sec1-cards h1{
    font-weight: 400;
    font-size: 2vw;
}
.main-sec-body{}

.main-tool{
    background-color: white;
    border-radius: 0.5em;
    min-height: 70vh;
    max-height: 75vh;
    margin: 0 1.5em 1em 2em;
    padding: 0.2em;
    border: #cfd2da 2px solid;
    display: flex;
    flex-direction: column;
}

#myPlotlyChart {
    width: 100%;
    height: 100%;
  }

.main-tool-header{
    display: flex;
    margin: 0 1.5em 1em 1em;
}

.main-tool-board{
    background-color: white;
    border-radius: 0.5em;
    min-height: 45vh;
    max-height: 65vh;
    margin: 0 1.5em 1em 2em;
    padding: 0.2em;
    border: #cfd2da 2px solid;
    display: flex;
    flex-direction: column;
}

.main-tool-board-header{
    display: flex;
    border-bottom: #cfd2da 2px solid;
    align-items: baseline;
    padding: 1vw;
    padding-bottom: 0.75vw;
}

.main-tool-board-header h2{
    font-weight: 500;
    font-size: 1.15vw;
    padding-right: 0.8em;
}



.main-tool-board-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50vh; /* Set your desired max height */
    max-height: 100vh; /* Ensure the container uses the available height */
    width: 100%; /* Full width of the container */
    gap: 10px; /* Adjust gap as needed */
    padding: 0.5vw 1vw;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  }

.single-board{
    display: flex;
    justify-content: space-between;
    max-width: 10em;
}

.single-board p{
    font-size: 0.75vw;
    font-weight: 500;
}


.single-board p:last-child{
    color: green;
}
